{% extends "base.html" %}

{% block content %}
    <p><a href="/hubpage">Вернуться обратно</a></p>
    <p>
        В данном разделе вы можете посмотреть как использовать сайт.<br>
        На самом деле всё просто если понимать несколько вещей:<br>
    </p>
    <ol>
        <li>Надо спользовать только валидные значения.
            Это необязательно если вам всё равно на результат</li>
        <li>Надо уметь подождать. Для получения некоторых ответов нужно время.</li>
        <li>В качестве ответа вы получите:<br>
            <ol type="a">
                <li>Название места</li>
                <li>Координаты места</li>
                <li>Картинку с отметкой места, которое вы искали</li>
            </ol>
        </li>
    </ol>
    <p>
        Если вы не будете вводить корректные данные, то это не сломает сайт.<br>
        Просто вы ничего не получите. :)
    </p>
{% endblock %}